<h4 class="filterheader red-text text-lighten-2 center-align">Options Panel</h4>
<div class="sourceSelectContainer input-field col s12 m6 l3">
    <select class="sourceSelect" multiple>
        <option value="" disabled="">Select Chromosomes</option>
    </select>
    <label>Source Chromosomes</label>
</div>
<div class="targetSelectContainer input-field col s12 m6 l3">
    <div class="select-wrapper">
        <select class="targetSelect" multiple>
            <option value="" disabled="">Select Chromosomes</option>
        </select>
    </div>
    <label>Target Chromosomes</label>
</div>
<div class="themeAndPlotOptionContainer col m6 l5">
    <h4 class="col s3" style="font-size: 1.4em;">Dark Theme</h4>
    <div class="col s3 switch" style="margin-top: 1.52em;">
        <label>OFF<input type="checkbox" id="darkTheme"><span class="lever"></span>ON
        </label>
    </div>
    <h4 class="col s3" style="font-size: 1.4em;">Plot Type</h4>
    <div class="col s3 switch" style="margin-top: 1.52em;">
        <label>BAR<input type="checkbox" id="plotType"><span class="lever"></span>DOT
        </label>
    </div>
</div>
<div class="generateButtonContainer col m6 l1">
    <a class="waves-effect waves-light btn filterButton" style="margin-top: 1em;">
        <i class="material-icons right">cached</i>GO
    </a>
</div>