.subInfoTitle {
    font-weight: bold;
    text-transform: capitalize;
}

.pieText {
    font-size: 1.5em;
    font-weight: bold;
}

.markerText {
    font-weight: bold;
}

.chromosomeMarkers,
.markersText {
    cursor: pointer;
}

.link {
    fill: none;
    stroke-opacity: .5;
    cursor: pointer;
}

.link.hiddenLink {
    stroke-opacity: .01;
}

.link.activeLink.link.hiddenLink {
    stroke-opacity: .9;
}

.link:hover {
    stroke-opacity: .9;
}

.darkPlot .link:hover {
    stroke-opacity: 0.9;
}

.markersText {
    fill: white;
    font-weight: bold;
    font-size: 1.0em;
}

.svgPLot {
    border-radius: 1em;
    margin-bottom: 5em;
}

.darkPlot {
    background: #000000;
}

.filterContainer .select-wrapper input.select-dropdown {
    width: 95%;
}

.filterheader {
    margin-bottom: 1em;
    margin-top: 1em;
}

.darkThemeLabel {
    font-size: 1.5em;
}